## Description

- 1) Input the mass seen from a GC-MS output in the variable, `obs_GC_mass`, found in section 1.
- 2) Manually input all possible masses of molecular fragments into a separate csv document located in a folder titled 'data'

## 1. Input mass seen on GC

In [18]:
obs_GC_mass = 240

### 1.1 Import necessary libraries

In [19]:
import pandas as pd
from itertools import combinations, combinations_with_replacement
import itertools
import numpy as np
from datetime import datetime

### 1.2 Load the data

In [20]:
data_fragment = pd.read_csv('data/fragment_molar-masses.csv')

### 1.3 Building data dictionary

In [21]:
fragment_dict = dict(zip(data_fragment.fragment, data_fragment.MM))

### 1.4 Building functions

In [22]:
def make_combos(elements: list[str],a, y):
    comb = []
    i = 0
    if a == True: # Unique combinations
        while i < y:
            comb.append(list(itertools.combinations(elements, i)))
            i+=1
    elif a == False: # general combinations
        for n in range(0,y+1):
            comb.append([i for i in combinations_with_replacement(elements,n)])

    comb_tuples = list(itertools.chain.from_iterable(comb))
    comb_lists = [list(x) for x in comb_tuples]
    return comb_lists

In [23]:
def sum_MM(indiv_MMs):
    combo_sum = []
    for x in indiv_MMs:
        x = sum(x)
        combo_sum.append(x)
    return combo_sum

### 1.5 Making Lists

In [24]:
fragment_interested = data_fragment.query('Inclusion == "x"')
fragment = list(fragment_interested['fragment'])
fragment

['A',
 'B1',
 'B2',
 'C1',
 'C2(BF3)',
 'D1',
 'D2',
 'E1',
 'F1',
 'F2',
 'G1',
 'G2',
 'H1',
 'H2',
 'I1',
 'I2',
 'J1',
 'J2',
 'K1']

# 2. Build Combination Tables: Molecules

In [25]:
combo_fragment = make_combos(fragment, True, 4)

In [26]:
combo_fragment_MM = make_combos(list(data_fragment['MM']), True, 4)

In [27]:
combo_fragment_MM_sum = sum_MM(make_combos(list(data_fragment['MM']), True, 4))

In [28]:
combo_lists_sum_pair = {'fragment combos': make_combos(fragment, True, 4), 'MM': sum_MM(make_combos(list(data_fragment['MM']), True, 4))}

In [29]:
df = pd.DataFrame(combo_lists_sum_pair)
df

     fragment combos      MM
0                 []    0.00
1                [A]  178.23
2               [B1]    1.01
3               [B2]  232.28
4               [C1]   27.04
...              ...     ...
1155    [I1, J2, K1]  212.32
1156    [I2, J1, J2]  141.19
1157    [I2, J1, K1]  270.35
1158    [I2, J2, K1]  132.19
1159    [J1, J2, K1]  270.35

[1160 rows x 2 columns]

In [30]:
df_bool = pd.DataFrame(df['MM'].between((obs_GC_mass - 1),(obs_GC_mass + 1)))
possible_combo = df_bool.query('MM == True').index.tolist()
print(possible_combo)

df.loc[possible_combo, :]

[163, 642, 769, 1029, 1125]

        fragment combos      MM
163            [G2, H1]  240.05
642        [C1, E1, G2]  240.17
769   [C2(BF3), G2, H2]  239.60
1029       [F1, H2, K1]  240.04
1125       [H1, H2, I1]  239.04

In [31]:
now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 14:24:09